@import "../../../global";

#section-signin {
  width: 100%;
  height: 100vh;

  @include flex(row, center, center);

  & > .article-signin {
    @include shadow();

    width: 700px;
    height: 60%;

    @media screen and (max-width: 600px) {
      width: 100%;
      height: 100%;
    }

    background-color: $COLOR_PRIMARY;

    @include flex(row, center, center);

    & > div {
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media screen and (max-width: 600px) {
        width: auto;
      }

      @include flex(row, center, center);

      & > img {
        height: 100%;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      & > form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        text-align: center;

        & > h2 {
          margin-bottom: 15px;
        }

        & > .form-control-signin {
          @include flex(column, center, start);

          margin-top: 10px;

          gap: 5px;

          & > input {
            margin-left: 10px;
          }
        }

        & > .form-control-button-signin {
          width: 100%;

          margin-top: 25px;

          display: flex;
          justify-content: center;
        }

        & > p {
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }
}